<% if session[:cart] %>
  <ul>
    <% session[:cart].each do |product| %>
    <li> <%= product %> </li>
    <% end %>
  </ul>
<% end %>

<% form_for ("/") do |f| %>
  <%= f.product %>
  <%= f.submit %>
<% end %>